.dis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vh;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

 & .show{
    width: 35%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 35%;
    & .pg{
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
    }
}
}

@media (max-width:500px) {
   .cont{
    gap: 1rem;

 & .show{
    width: 45%;
    height: 10vh;
    & .pg{
        font-size: 0.7rem;
        font-weight: 500;
    }
}
}
}