<!-- <div
  class="container dis d-flex flex-column flex-md-row flex-wrap justify-content-evenly"
>
  @for (subject of subjects; track $index) {
  <div class="col-11 col-md-9 m-2 p-3 text-center subject-box">
    <a
      class="btn click"
      [routerLink]="['/subject', subject.subjectId]"
      routerLinkActive="active"
      >{{ subject.subjectName }}</a
    >
  </div>
  } @empty {
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
</div>
<div
  class="container dis d-flex flex-column flex-md-row flex-wrap justify-content-evenly"
>
  @for (subject of subjects; track $index) {
  <div class="col-11 col-md-9 m-2 p-3 text-center subject-box">
    <a
      class="btn click"
      [routerLink]="['/subject', subject.subjectId]"
      routerLinkActive="active"
      >{{ subject.subjectName }}</a
    >
  </div>
  } @empty {
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
</div> -->
