
.click{
    background-color: gainsboro;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    font-size: 2.2vw;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;   
    animation: shadow 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // smooth hover effect
&:hover{
    background-color: gold;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
     
}
}
.exam-box{
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightgray;
}

@media (max-width: 768px) {
    .click{
        font-size: 4vw;
    }
}
@media (max-width: 500px) {
    .click{
        font-size: 5vw;
    }
}
@keyframes shadow {
    0% {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    100% {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    }
}
@media (max-width: 500px) {
    .exam-box{
        margin: 10px auto;
        width: 90%;
    }
}

