<div
  class="container d-flex flex-column flex-md-row flex-wrap justify-content-evenly"
>
  @for (question of Questions; track $index) {
  <div class="row mb-4">
    <p class="text-center text-md-start Text-font">
      {{ question.content }}
    </p>
  </div>
  <div class="row gap-1 gap-md-2 gap-lg-3 m-auto m-md-0 d-flex justify-content-evenly flex-wrap">
    @for (option of question.options; track $index) {
    <p
      style="background-color: white"
      [ngClass]="{
        'text-bg-success':
          SelectedIDs[question.questionId] &&
          option.optionId === question.optionAswerId&&
          Options.includes(option.optionId),
        'text-bg-danger':
          SelectedIDs[question.questionId] &&
          option.optionId !== question.optionAswerId &&
          Options.includes(option.optionId),
      }"
      class="col-11 rounded-3"
    >
      {{ option.text }}
    </p>
    }
  </div>
  }
</div>
